// Bootstrap
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/theme";
// Bourbon
@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "angular/animate";

.full-width {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
  .triggered {

  }
  #form-legend {
    font-size: 135%;
    margin-bottom: 50px;
  }
  .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
  #form-help {
    font-size: 95%;
    margin-top: 15px;
  }
}

#map-toggle {
  position: relative;
  .toggle-map {
    position: absolute;
    top: 23px;
    left: 25px;
    z-index: 9;
    padding: 8px 25px;
    border: thin solid #7F7F7F;
    background: #cacaca;
    cursor: pointer;
    color: #484848;
    &.position-relative {
      position: relative;
      top: -10px;
    }
    &:hover {
      background: #aeaeae;
      border: thin solid #7F7F7F;
    }
  }
}

.hide {
  display: none;
}

.no-opacity {
  opacity: 0;
}

