<div ng-if="ratings.length">
  <h5>Quality Star Program</h5>
  <p>Most facility types may <strong>voluntarily</strong> participate in Mississippi's Quality Star program (Independent Nannies are not licenced by the state and may not participate). For facilities that choose to participate, a higher star rating suggests higher quality program, which may include offering educational or development curriculum by trained staff. There are many licenced facilities that have not been reviewed by the state; these facilities are not rated. To refine your search results by Quality Star ratings, check the boxes below.</p>
  <div class="rating-filters list-group">
    <a class="usa-button usa-button-outline"
       ng-repeat="(key, filter) in ratings" 
       ng-class="{active:filterActive( 'QualityRatingDescription', filter.title )}"
       ng-click="filterClick( $event, 'QualityRatingDescription', filter.title )"
       href="#" class="list-group-item rating-filter">
      <i ng-class="{'fa-check-square': filterActive( 'QualityRatingDescription', filter.title )}" class="fa fa-square-o"></i>
      <rating-stars stars="filter.stars"></rating-stars>
    </a>
  </div>
</div>