<div class="item panel" ng-class="providerDescClass(item)"><div class="panel-body">
  <div class="usa-grid">
    <div ng-class="$root.providerInfoClass(item.ProviderTypeDescription)" class="usa-width-one-whole">
      <h4 ng-bind-html="item.ProviderName"></h4>
      <div class="stars" ng-bind-html="getStars(item)"></div>
      <rating-stars stars="item.QualityRating"></rating-stars>
      <div><span ng-bind-html="$root.providerInfoTitle(item.ProviderTypeDescription)"></span></div>
      <div class="usa-grid">
        <div class="usa-width-two-thirds">
          <span>{{item.PhysicalCity}}</span> <span>{{item.PhysicalZipCode}}</span>
        </div>
        <div class="usa-width-one-third">
          <i class="fa fa-phone"></i> <a href="tel:+{{item.PhoneNumber}}">{{item.PhoneNumber}}</a>
        </div>
      </div>
    </div>
  </div>
</div></div>