.box {
  background: white;
  border: 1px solid $color-gray-lighter;
  display: inline-block;
  padding: 15px;
  margin-bottom: 10px;

  h2, h3, h4, h5 {
    &:first-child {
      margin-top: 0;
    }
  }

  .box-title {
    margin-bottom: 10px;
    padding-left:5px;
    &:before {
      float:left;
      content: '';
      width: 20px;
      height: 20px;
    }
  }
  .provider-lic-day {
    .box-title:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 20px 10px;
      border-color: transparent transparent #112e51 transparent;
    }
  }
  .provider-lic-home-based-day {
    .box-title:before {
      background: #0f9c25;
    }
  }
  .provider-quality-star-day {
    .box-title:before {
      background: #f99537;
      border-radius: 50%;
    }
  }
  .provider-nanny {
    .box-title:before {
      background: #5197e3;
      border-radius: 50%;
    }
  }
  .provider-un-home-based-day {
    .box-title:before {
      background: #ffed26;
      border-radius: 50%;
    }
  }

  .box-body {
    display: block;
  }
}

a.box {
  @include transition(0.2 ease);

  &.active, &:hover {
    background: $color-gray-lightest;
  }
  &.active {
    .box-title {
      font-weight: $font-bold;
    }
  }
}
