.box {
  background: white;
  border: 1px solid $color-gray-lighter;
  display: inline-block;
  padding: 15px;

  &, &:last-child {
    margin-bottom: 10px;
  }

  @media screen and (max-width: ($medium-screen - 1)) {
    width: 100%;
  }

  h2, h3, h4, h5 {
    &:first-child {
      margin-top: 0;
    }
  }

  .button-title {
    display: block;
    text-align: left;
    position: relative;
    padding: 12px 15px 12px 38px;

    @include media($nav-width) { 
      min-height: 96px;
    }
  }

  .box-title {
    display: block;

    &:before {
      position: absolute;
      left: 10px;
      top: 10px;
      content: '';
      width: 20px;
      height: 20px;
    }
  }
  .provider-lic-day {
    .box-title:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 20px 10px;
      border-color: transparent transparent #112e51 transparent;
    }
  }
  .provider-lic-home-based-day {
    .box-title:before {
      background: #0f9c25;
    }
  }
  .provider-quality-star-day {
    .box-title:before {
      background: #f99537;
      border-radius: 50%;
    }
  }
  .provider-nanny {
    .box-title:before {
      background: #5197e3;
      border-radius: 50%;
    }
  }
  .provider-un-home-based-day {
    .box-title:before {
      background: #ffed26;
      border-radius: 50%;
    }
  }

  .box-body {
    display: block;
  }

  a.usa-button {
    @include transition(0.2 ease);

    &.active, &:hover {
      background: $color-gray-lightest;
    }
    &.active, &.active:hover {
      background: $color-primary-darker;
      color: white;
    }
  }

}



