

.provider-type-filters {

}

#filters-b-1 {
  background-color: #f1f1f1;
  font-size: .8em;
  overflow: hidden;
  padding: 15px;

  .rating-more {
    background-color: $color-gray;
    padding: 10px 30px 10px 10px;
    color: white;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-decoration: none;
    display: inline-block;
    float: left;
    margin-top: 0;
    position: relative;

    &:hover {
      background-color: darken($color-gray, 10%);
    }

    i {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -14px;
      font-size: 2em;
    }
  }
}

.provider-type-filters, .rating-filters {
  a {
    text-decoration: none;
    color: $color-base;
  }
}

.rating-filters {
  a {
    margin-right: 5px;
    padding-left: 1rem;
    padding-right: 1rem;

    i {
      min-width: 1.01em;
    }
  }
}

@include media($medium-screen) { 
 .providers.licensed {
    margin-right: 2%;
    width: 49%;
  }
  .providers.independent {
    width: 49%;
  }
}

@include media($nav-width) { 
  .providers.licensed {
    margin-right: 2%;
    width: 55%;

    .provider-type-filters > * {
      @include span-columns(4);
    }
  }
  .providers.independent {
    width: 43%;

    .provider-type-filters > * {
      @include span-columns(6);
    }
  }

  .rating.box {

    > :first-child {
      float: left;
      width: 67%;
    }

    .rating-more {
      float: right;
      min-height: 73px;
      width: 33%;

      p {
        margin-top: 0;
      }
    }
  } 
}