.usa-header {
  background: $color-gray-light;
  margin-bottom: 30px;
  position: relative;
  z-index: 100;

  .usa-navbar {
    height: auto!important;
  }

  &, * {
    color: white;
  }

  .usa-logo {
    float: none;
    margin-left: 0;
    padding-top: 0.8rem;
    text-align: center;
  }

  .tagline {
    padding: 0 1.5rem 0;
  }
}

@media screen and (max-width: ($medium-screen - 1)) {
  .usa-header {


    .usa-logo {
      img {
        max-width: 45%;
      }
    }

    h3 {
      margin-top: 0;
      font-size: 1.4rem;
    }
  }
}

@media screen and (min-width: $medium-screen) {
  .usa-header {
    .usa-logo {
      float: left;
      max-width: 150px;
      margin-left: 1.5rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
      padding-top: 0;
    }

    .tagline {
      clear: none!important;
      margin-top: 0;
      padding: 4rem 0 0 190px;
    }
  }
}

@include media($nav-width) {
  .usa-header {

    .usa-logo {
      float: left;
      max-width: 150px;
    }

    .tagline {
      padding-top: 5rem;
    }

  }

}
